@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  body {
    background-color: white;
  }
#top {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 34px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#Select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 68px;
    margin-left: 3%;
}

#maininputbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 3%;
    margin-top: 1%;
    position: relative;
}

input {
    width: 204px;
    margin: 1%;
    height: 42px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: black;
}

.material-symbols-outlined {
    transform: rotate(0deg) !important;
}

#Search {
    background-color: #428500;
    color: white;
    border: none;
}

h2 {
    padding: 0 0.625em;
    justify-content: space-between;
    color: #212a30;
    border: 1px solid #e5ebf0;
    background-color: #fff;
    width: 20%;
    display: flex;
}

#box {
    width: 164px;
    top: 100%;
    left: 0;
    /* background-color: rgb(29, 22, 22); */
    border-radius: 20px;
    padding: 20px;
    display: none;
    overflow-y: scroll;
    height: 70vh;
    box-shadow: 0px 0px 20px grey;
    text-align: center;
    font-size: revert;
    font-weight: bold;
    color: sienna;
}

#box1 {
    width: 172px;
    position: absolute;
    left: 0;
    background: white;
    /* border-radius: 20px; */
    padding: 20px;
    display: none;
    overflow-y: scroll;
    height: 70vh;
    box-shadow: 0px 0px 20px grey;
    text-align: center;
    font-size: revert;
    font-weight: bold;
    color: sienna;
    margin-left: 23%;
}

#main {
    display: flex;
    width: 1110px;
    margin: 15px;
    /* gap: 44px; */
    justify-content: space-around;
}

.card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px grey;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#left {
    width: 251px;
    margin-left: 2%;
}

#right {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.logo {
    width: 130px;
}

#card {
    text-align: center;
    width: 628px;
    line-height: 75px;
    margin-top: 4%;
    height: 185px;
    box-shadow: 0px 0px 15px gray;
    border-radius: 8px;
}

p {
    margin-top: 10px;
    font-size: 11px;
}

#parent {
    margin-top: 5%;

}

#card1 {
    text-align: center;
    width: 628px;
    line-height: 75px;
    margin-top: 4%;
    height: 185px;
    box-shadow: 0px 0px 15px gray;
    border-radius: 8px;
}

.transaction_parent {
    display: flex;
    background-color: white;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    /* left: 0; */
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.rupey {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

h3 {
    font-size: initial;
    font-weight: bold;
}

/* Left part */
.left11{
    line-height: 1px;
}
.stops{
    display: flex;
    align-items: unset;
    gap: 42px;
}
#airport,#airport1,#airport2,#airport3,#airport4,#airport5{
    width: 244px;
    height: 36px;
    font-size: 18px
}  
#airport4{  
margin-top: 22%;
}
.flight1
{
    display: flex;

    justify-content: space-between;
}
.flight2{
    display: flex;
    align-items: center;
    gap: 9px;
}
#payementwork{
    display: flex;
    align-items: center;
    display: flex;
    gap: 8px;
}
/* Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
    width: 244px;
    height: 36px;
    font-size: 18px
  }
  .dropdown-content {
    text-align: center;
    display: none;
    padding: 20px 0px;
    position: absolute;
    width: 100%;
    overflow: auto;
    /* box-shadow: 
     /* box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);  */
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
  .range{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .range h5{
    margin: 0;
  }
  